* {
  box-sizing: border-box;
  font-family: Tahoma;
  color: black;
}
@font-face {
  font-family: "gotique";
  src: url(Fonts/gotique/Gotique.ttf);
  font-style: normal;
  font-weight: normal;
}

.main-header {
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url(Images/headerimage2.jpg);
  background-blend-mode: multiply;
  background-size: cover;
  padding-bottom: 30px;
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: cadetblue;
}

.nav ul {
  margin: 0;
}

.nav li {
  display: inline;
}
.nav a {
  display: inline-block;
  padding: 2em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.nav a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.main-nav {
  text-align: center;
  font-size: 1.1em;
  font-weight: lighter;
  border: 5px solid rgba(255, 255, 255, 0.3);
}

.band-name {
  text-align: left;
  margin-left: 1em;
  font-size: 4em;
  font-family: "gotique";
  font-weight: normal;
}

.band-name-large {
  text-align: center;
  color: cadetblue;
  margin: 0;
  font-size: 9em;
  font-family: "gotique";
  font-weight: normal;
}

.content-section {
  margin: 1em;
}
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;
}
.section-header {
  font-family: "gotique";
  font-weight: normal;
  font-size: 2.5em;
  margin-left: 1.25em;
}

.band-image {
  float: left;
  margin: 15px;
  border-radius: 40%;
  width: 200px;
}
.main-footer {
  background-color: rgb(112, 0, 65);
}
.main-footer-container {
  display: flex;
  align-items: center;
}
.main-footer-container ul {
  flex-grow: 1;
  text-align: end;
}

.footer-nav li {
  padding: 0 0.5em;
}
.footer-nav img {
  width: 30px;
  height: 30px;
  border-radius: 35%;
}
.btn {
  text-align: center;
  vertical-align: middle;
  padding: 0.67em;
  cursor: pointer;
}

.btn-header {
  display: block;
  color: white;
  border: 2px solid cadetblue;
  background-color: rgba(255, 255, 255, 0.12);
  border-radius: 0;
  font-size: 1.5em;
  font-weight: lighter;
  padding-left: 2em;
  padding-right: 2em;
  margin: 15px auto;
}

.btn-header a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.btn-header:hover {
  background-color: rgba(19, 3, 3, 0.5);
}
.btn-play {
  display: block;
  margin: 15px auto;
  height: 50px;
  width: 150px;
  padding: 0;
  color: rgba(255, 255, 255, 0.6);
}

.tour-row {
  border-top-right-radius: 10px;
  border-bottom: 2px solid black;
  padding-bottom: 2 em;
  margin-bottom: 2em;
  border-left: 5px solid rgb(112, 0, 65);
  background-color: rgba(112, 0, 65, 0.15);
}

.tour-item {
  display: inline-block;
  padding-right: 0.5em;
}
.tour-item:last-child {
  border-bottom: none;
}
.tour-date {
  font-weight: bolder;
  width: 15%;
}
.tour-city {
  width: 30%;
}
.tour-nation {
  width: 35%;
}
.tour-btn {
  border-left: 25px solid rgb(112, 0, 65);
  border-top: 3px solid rgb(112, 0, 65);
  border-bottom: 3px solid rgb(112, 0, 65);
  border-right: 3px solid rgb(112, 0, 65);
  border-radius: 0.3em;
  background-color: rgba(255, 255, 255, 0.55);
  max-width: 19%;
  margin-top: 1em;
  margin-bottom: 1em;
}
.tour-btn:hover {
  border-left: 25px solid rgb(182, 76, 138);
  border-top: 3px solid rgb(182, 76, 138);
  border-bottom: 3px solid rgb(182, 76, 138);
  border-right: 3px solid rgb(182, 76, 138);
  border-radius: 0.3em;
  background-color: rgba(255, 255, 255, 0.85);
  max-width: 19%;
  margin-bottom: 1em;
}

.shop-item {
  margin: 30px;
}
.shop-item-title {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 15px;
}
.shop-item-image {
  height: 250px;
  width: 250px;
  border-radius: 0.4em;
  border: 5px solid rgb(112, 0, 65);
}
.shop-item-details {
  display: flex;
  align-items: center;
  padding: 5px;
}
.shop-item-price {
  flex-grow: 1;
}
.shop-item-btn {
  max-width: fit-content;
}
.shop-item-btn:hover {
  max-width: fit-content;
}
.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cart-header {
  font-weight: bold;
  font-size: 1.2em;
}
.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  margin-top: 10px;
  padding-bottom: 10px;
}
.cart-row {
  display: flex;
}
.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
}

.cart-quantity {
  width: 35%;
}
.cart-item-title {
  margin-left: 0.5em;
  font-size: 1.2em;
}
.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
  border: 3px solid rgb(112, 0, 65);
}
.btn-danger {
  color: white;
  background-color: red;
  border-radius: 0.3em;
  font-weight: bold;
}
.btn-danger:hover {
  background-color: crimson;
}
.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 2px solid rgb(112, 0, 65);
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}
.cart-row:last-child {
  border-bottom: 1px solid black;
}
.cart-row:last-child .cart-column {
  border-bottom: none;
}
.cart-total {
  margin-top: 10px;
  margin-right: 10px;
  text-align: end;
}
.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  margin-right: 20px;
}
.cart-total-price {
  font-size: 1.1em;
}
.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
}
.btn-purchase:hover {
  display: block;
  margin: 40px auto 80px auto;
  border-left: 25px solid rgb(182, 76, 138);
  border-top: 3px solid rgb(182, 76, 138);
  border-bottom: 3px solid rgb(182, 76, 138);
  border-right: 3px solid rgb(182, 76, 138);
  border-radius: 0.3em;
  background-color: rgba(255, 255, 255, 0.85);
}
